body {
    display: grid;
    margin: 0 auto;
    max-width: 56em;
    padding: 1em 0;
}

h1 {
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: rgb(5, 5, 5);
    color: white;
}

#movieTitle {
    font-size: 1.1 rem;
}

#moviesContainer {
    display: grid;
    grid-auto-rows: 1fr, 1fr;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 3em;
    margin: 10px;
    font-size: 1.1rem;
    padding-right: 10px;
    
}

#moviePoster {
    height: 250px;
    width: 250px;
}

#addtlInfo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin: 10xp;
    align-content: center;
    align-items: center;
    padding: 0;
}

#bigMoviePoster {
    margin: 50px;
    height: 420px;
    width: 350px;
    padding: 0px;
}

#addtlInfo {
    padding: 0px;
    display: flex;
    align-content: center;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  
    body {
        display: flex;
    }

    h1 {
        display: block;

    }
    
}

